<% content_for :title do %>
<%= @photo.name %></h1>
<% end %>
<h1><%= @photo.name %></h1>

<img src=<%= @photo.url %> alt=<%= @photo.name %> height="300">

<h2>Description</h2>
<p><%= @photo.description %></p>

<h2> Autor </h2>
<p><%= @photo.user.email %></p>


<br><br>
<% if @photo.user == current_user %>
  <%= link_to 'Editar', photo_edit_path %>
<% end %>