<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>
      <nav>
        <a href="/">inicio</a>
      </nav>
    </section>

    <hr>
    
    <section>
      <%= yield %>
    </section>

    <hr>

    <section>
      <small>taller inc ~copy; Todos los derechos reservados</small>
    </section>
  </body>
</html>
