<!DOCTYPE html>
<html>
  <head>

    <title>
    <% if content_for?(:title) %>
      <%= yield :title %>
    <% else %>
      Bienvenido a frikr
    <% end %>>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>
      <nav>
        <%= link_to 'Inicio', welcome_home_path %>
          <% if user_signed_in? %>
        <%= link_to 'salir', logout_path %>
        <% else %>
          <%= link_to 'entrar', login_path %>
        <% end %>

      </nav>
    </section>

    <hr>
 
    <section>
      <p class="notice"><%= notice %> </p>
      <p class="alert"><%= alert %> </p>
      <%= yield %>
    </section>

    <hr>

    <section>
      <small>taller inc ~copy; Todos los derechos reservados</small>
    </section>
  </body>
</html>
