<!DOCTYPE html>
<html>
  <head>

    <title>
    <% if content_for?(:title) %>
      <%= yield :title %>
    <% else %>
      Bienvenido a frikr
    <% end %>>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="container">
    <section>
      <nav class="navbar navbar-default ">
      <ul class="nav nav-tabs">
        <li><%= link_to 'Inicio', welcome_home_path %></li>
        <li><%= link_to 'listado de foto', photos_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'mis fotos', my_photos_path %></li>
          <li><%= link_to 'crear foto', new_photo_path %></li>
          <li><%= link_to 'salir', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'entrar', new_user_session_path %></li>
        <% end %>
      </ul>
      </nav>
    </section>
    <section>
    <% if flash[:notice] %>
      <p class="notice alert-info"><%= notice %> </p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert alert-darger"><%= alert %> </p>
    <% end %>
      <%= yield %>
    </section>
  <section>

    <hr>

    <section>
      <small>taller inc ~copy; Todos los derechos reservados</small>
    </section>
  </body>
</html>
